<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    div {
        color: red;
    }
</style>

<body>
    <div>
        <h1>
            小敏xiaojie hello:
            <%=username%>
        </h1>
        <% for(let i=0;i < lists.length;i++){%>
            <li>
                <% lists[i]%>
            </li>
            <%}%>
    </div>
</body>

</html>