.AddPlanet-wraper {
  height: 100vh;
  width: 100vw;
  background-color: #f5f7f6;
}
.AddPlanet-wraper .head {
  margin: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
}
.AddPlanet-wraper .head .back {
  margin-right: 20px;
}
