.AddPlanet-wraper {
  height: 100vh;
  width: 100vw;
  background-color: #f5f7f6;
}
.AddPlanet-wraper .head {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  height: 2.7rem;
}
.AddPlanet-wraper .head .back {
  color: gray;
  font-size: 1.1rem;
}
.AddPlanet-wraper .head .next span {
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.4rem 1.5rem;
  background-color: #15b897;
  color: white;
}
.AddPlanet-wraper .head .next button {
  border: none;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.4rem 1.5rem;
  background-color: #15b897;
  color: white;
}
.AddPlanet-wraper .body .body-img {
  display: flex;
  justify-content: center;
}
.AddPlanet-wraper .body .body-img .img {
  height: 15rem;
  width: 15rem;
  background: url('../../image/4.png');
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 1rem;
  margin-top: 3rem;
}
.AddPlanet-wraper .body .input {
  width: 100vw;
  height: 4rem;
  margin-top: 2rem ;
  padding: 0 3rem;
  box-sizing: border-box;
}
.AddPlanet-wraper .body .input input {
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  background-color: #cec2c270;
  outline: none;
  border: 0;
}
