.login-content {
  padding: 1rem 2rem;
  margin: 10rem auto;
  width: 400px;
  height: 300px;
  background-color: white ;
}
.login-content h3 {
  margin: 0 auto;
  font-size: 1.25rem;
}
.login-content .title {
  display: flex;
  margin-bottom: 1rem;
}
.login-content .title span {
  width: 30%;
  font-weight: 600;
  font-size: 1.25rem;
}
.login-content .title div {
  width: 70%;
  text-align: end;
  line-height: 2rem;
  font-size: 0.7rem;
}
.login-content .title div span {
  display: inline-block;
  margin: 0 0.3rem;
  width: 1px;
  height: 10px;
  background-color: #20a77c;
}
.login-content .login-form {
  max-width: 300px;
}
.login-content .login-form-forgot {
  float: right;
}
.login-content .ant-col-rtl .login-form-forgot {
  float: left;
}
.login-content .login-form-button {
  width: 100%;
}
