<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	
	<bean class="org.getdata.Login" name="/Login_design"/>
	<bean class="org.getdata.Register" name="/Register_design"/>
	<bean class="org.getdata.getUser" name="/GetUser"/>
	<bean class="org.getdata.GetCarInfo" name="/GetCarInfo"/>
	<bean class="org.getdata.GetExitTicket" name="/GetExitTicket"/>
	

</beans>