.header {
  color: gray;
  background-color: white;
}
.header .header-top {
  text-align: end;
  padding: 0 1rem ;
  height: 2rem;
  line-height: 2rem;
  border-bottom: #b3cec6 solid 2px;
}
.header .header-bottom {
  display: flex;
  padding: 0 1rem ;
  height: 2rem;
  line-height: 2rem;
}
.header .header-bottom .header-bottom-left {
  position: relative;
  width: 25%;
  margin-left: 3rem;
  font-weight: 500;
  font-size: 1.3rem;
}
.header .header-bottom .header-bottom-left::after {
  content: " ";
  position: absolute;
  border-bottom: 1.5rem solid transparent;
  border-top: 1.5rem solid red;
  border-left: 1rem  solid transparent;
  border-right: 1rem  solid transparent;
  transform: translateY(60%) translateX(-113%);
}
.header .header-bottom .header-bottom-right {
  text-align: end;
  width: 75%;
}
