.waper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.contentAdminhome {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: gray;
}
