<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/?xss=<script>alert(document.cookie)</script>">点击注入js</a> 首页
    <a href="/?xss=<style>a{color:red}</style>">注入style点击变color</a>
    <a href="/?xss=<iframe src='http://www.baidu.com'></iframe>">注入窗口恶意广告</a>


    <%-username %>
        <%- xss %>
            <%- dataFromDB %>



</body>

</html>