@font-face {
    font-family  'icomoon';
    src  url('./fonts/icomoon.eot?tomleg');
    src  url('./fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'), url('./fonts/icomoon.ttf?tomleg') format('truetype'), url('./fonts/icomoon.woff?tomleg') format('woff'), url('./fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight  normal;
    font-style  normal;
    font-display  block;
}

* {
    padding  0
    margin  0
}

.icon_dwon::after {
    content  '\e91e';
    font-family  'icomoon'
    margin-left  2px 
}

.content {
    margin  8px 8px 0 8px 
}

.top {
    height  180px 
    background-color  white 
    border-radius  5px 
    overflow hidden
}

.recommend {
    margin 9px 0 10px 0
    height 56px
    background-color #ffffff
    border-radius 5px
}

.advertisement {
    height  100px 
    background-color #f0f0f0 
    border-radius  5px 
}

.select {
    padding 3%
    border-radius 5px
    margin-top 10px
    height 182px
    background-color #ffffff
}

.hide{
    display none
}
.show{
    display block
}
.top ul {
    width 100%
    height 90%
    font-size: 0
    background-color #ffffff
}

.top ul li {
    display inline-block
    text-align center
    font-size 15px
    width 19%
    height 49%
    margin-left 1%
    background-color #fff
    list-style none
}

.top ul li .pic span{
    height 100%
    font-size 9px 
    color #878787
}
.pic img {
    width 50%
    height 50%
    margin 15% 25% 5% 25%
}

.top ul li span {
    color #565656
}
.recommend ul{
    height 100%
    display flex
    background-color #f0f0f0

}
.recommend ul li{
    position relative
    list-style none
    flex 1
    border-radius  5px 
    background-color #fff
    height 100%
    overflow hidden
}
.recommend ul li:nth-child(n+2){
    margin-left 2%
}
.recommend .rli{
    height 100%
    border-radius 5px
    background-color white
}
.recommend .rli .lileft{
    margin 7px 8px 0 8%
}

 .recommend .rli .topright_icon {
  position absolute
  right 0;
  top 0;
  font-size 0.8px
  line-height 13px
  height 13px
  color white
  background-color #f66606
  border-radius 0 0  0 8px
  padding 0 5px
}

.select .contaner{
   
    width 100%
    height 100%
    background-color #ffffff
}

.select .contaner .more{
      
    height 30px
    background-color #fff
}
.select .contaner .more .time{
   width 10px
   height 10px 
   color white
   font-size 8px
   margin-left 8px
   padding 0 1px
   box-shadow 0 0 1px #f87a3c
   background linear-gradient(-45deg, #f66502, #fc8a01)
   //background-color #f87a3c
}

.select .contaner .item {
   height 100%
}
.select .contaner .item ul{
   height 100%
   display flex
}
.select .contaner li{
    list-style none 
    flex 1
    height 83%
    border-radius 5px
    border 1px solid #fafafa
    
    background-color white
    overflow hidden
}

.select .contaner li:nth-child(n+2) {
    margin-left 6px
}

.select .contaner li .pic{
    height 50%
   
}

//  .select .item .select_pic{
//      position relative
// }
 .select .item .select_pic .leftbuttom_icon {
  position absolute
  left  0
  bottom  0
  font-size 0.8px
  line-height 13px
  height 13px
  color white
  background linear-gradient(45deg, #f66502, #fc8a01)
//   background-color #f66606
  border-radius 0  8px 0  0
  padding 4px 8px
}