.admin {
  height: 100vh;
  color: black;
}
.admin .weight {
  min-width: 500px;
}
.admin .weight .adminheader {
  padding: 0;
  height: 4rem;
  line-height: 4rem;
}
.admin .weight .content {
  margin: 1.5rem;
  background-color: white;
}
