.box {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  width: 7.5rem;
  height: 10.5rem;
  background-color: #fafbfd;
  overflow: hidden;
}
.box .img {
  background: pink;
  flex: 2;
}
.box .box-content {
  flex: 1;
  font-size: 0;
  padding: 0;
}
.box .box-content p:first-child {
  background-color: blue;
  font-size: 1rem;
}
.box .box-content p:last-child {
  background-color: blue;
  font-size: 10px;
}
