.left-top{
    display: flex;
    color: white;
    align-items: center;
    height: 4.5rem;
     background-color: #00101f;
    img{
        height: 40px;
        width: 40px;
        margin-left: 2rem;
    }
    h1{
        color: white;
    }
}